/* =======UNIVERSAL======= */
/* Variabeln */
/* Farbwahl */

:root {
  --black: /* Dunkel / Schwartz */    #191A19;             /*     var(--black)               */  
  --light: /* Hauptfarbe */           #8AB6D6;	     	      /*     var(--light)               */ 
  --middle: /* Sekundärfarbe */       #2978B5;             /*     var(--middle)              */ 
  --dark: /* Dunklerefarbe */         #0061A8;             /*     var(--dark)                */ 
  --white: /* Textfarbe */            #f2f2f2;             /*     var(--white)               */ 
}

[data-theme="dark"]{
  --black: /* Dunkel / Schwartz */    #f2f2f2;             /*     var(--black)               */  
  --light: /* Hauptfarbe */           #8AB6D6;	     	      /*     var(--light)               */ 
  --middle: /* Sekundärfarbe */       #2978B5;             /*     var(--middle)              */ 
  --dark: /* Dunklerefarbe */         #0061A8;             /*     var(--dark)                */ 
  --white: /* Textfarbe */            #191A19;             /*     var(--white)               */ 
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  color:  var(--black) ;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color:  var(--middle);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color:   var(--middle);
  color: var(--black);
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
 
}

a {
  color: var(--black);
  text-decoration: none;
}
a:hover {
  color: var(--light);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem  var(--middle) solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: 0.1rem var(--dark) solid;
  background-color: var(--middle);
  cursor: pointer;
  color: var(--black);
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem var(--middle) solid;
  background-color: var(--light);
}
button.primary {
  border: 0.1rem var(--dark) solid;
  background-color: var(--middle);
  color: var(--black);
}
button.primary:hover {
  border: 0.1rem var(--middle) solid;
  background-color:  var(--light);
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: var(--white);
  padding: 1rem;
}
a.brand {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: var(--light);
  color: var(--white);
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}

.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/* ==== GRID SYSTEM ==== */

.col-0 {
  width: 0.1%;
}

.col-1 {
  width: 4.33%;
}

.col-2 {
  width: 12.66%;
}
.col-3 {
  width: 18%;
}

.col-4 {
  width: 29.33%;
}

.col-5 {
  width: 37.66%;
}

.col-6 {
  width: 46%;
}

.col-7 {
  width: 54.33%;
}

.col-8 {
  width: 62.66%;
}

.col-9 {
  width: 71%;
}

.col-10 {
  width: 79.33%;
}

.col-11 {
  width: 87.66%;
}

.col-12 {
  width: 96%;
}

.col-6-2 {
  width: 29.33%;
  margin-bottom: 100px;
}

.col-13{
  flex: 2 1 50rem;
}

.col-14{
  flex: 1 1 25rem;
}

.flexAngebot{
  display: flex;
  justify-content: center;
}

img.small {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Darkmodeslider */

.theme-switch-wrapper {
  display: flex;
  align-items: center;

/*  em {
      margin-left: 10px;
      font-size: 1rem;
}*/
}

.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.theme-switch input{
display:none;
}

.slider {
background-color: var(--gold);
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
background-color: var(--lightblack);
bottom: 4px;
content: "";
height: 26px;
left: 4px;
position: absolute;
transition: .4s;
width: 26px;
}

input:checked + .slider {
background-color: var(--gold);
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 

/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: var(--white);
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: var(--black);
  cursor: pointer;
  border-color: var(--dark);
}
button.open-sidebar:hover {
  border-color: var(--dark);
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem  var(--middle) solid;
  background-color:  var(--white);
  border-radius: 0.5rem;
  margin: 1rem;
}

.carda {
  border: 0.1rem  var(--middle) solid;
  background-color:  var(--white);
  border-radius: 0.5rem;
  margin: 1rem;
}
.carda:hover {
  background-color:  var(--light);
}

.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

/* Rating */
.rating span {
  color:  var(--light);
  margin: 0.1rem;
}
.rating span:last-child {
  color:  var(--middle);
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: var(--black);
}
.danger {
  color: var(--black);
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: var(--black);
  background-color: var(--light);
}
.alert-danger {
  color: var(--black);
  background-color: var(--light);
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: var(--middle);
  border: 0.1rem var(--dark) solid;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem var(--light) solid;
  color: var(--light) ;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: var(--middle);
  color: var(--middle);
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr {              /* :nth-of-type(odd) */
  background-color: var(--white);
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid var(--middle);
  padding: 0.5rem;
  color: var(--middle);
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}